body, html{
    height: 100%;
    background-color: black;

}


.head_section{
    font: 200 60px "nyt-cheltenham";
}

.background{
    background-image: url("images/dday.jpg")z;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white

}

.banner_bar{
    color: white;
    top:0%;
    height:4.5%;
    width: 100%;
    line-height:210%;
    background-color: rgb(15, 15, 15);
    font-size: 15px;
    overflow: hidden;
    position: fixed;
    z-index: 1;

}

.logo{
    float: left;
    height: 100%
}

.banner_text{
    font-size: 1vw;
    font-family: 'Raleway', sans-serif;


}

.title_box{
    bottom: 30%;
    right: 5%;
    color: white;
    position: absolute;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}


.main_title{
    font-size: 4vw;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif
}

.main_sub_title{
    font-size: 2vw;
    font-family: 'Times New Roman', Times, serif;
    color: white;

}

.main_authors{
    font-size: 1vw;
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: white;

}

#foreward{
    color: black;
    width: 100%;
    height: 100%;
    background-image: url("images/memorial.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: visible;
 
}

.foreward{
    font-size: 1vw;
    height: 10%;
    width:20%;
    color:white;
    position: relative;
    top: 20%;
    left: 20%;
}
