body, html{
    height: 100%;
    background-color: black;
    margin: 0;

}

#container{
    max-width: 100%;
    margin: 0;
    padding:0;
}

.background-parallax {
    min-height: 100vh;
    background: transparent;
}

.title-box{
    z-index: 2;
    position: absolute;
    color: white;
    top: 50%;
    right: 5%;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.main-title{
    
    font-family: 'Nanum Myeongjo';
    font-size: 6vw;
    font-weight: 'bold'
    
}

.sub-title{
    
    font-size: 2vw;
    font-family: 'Cormorant SC';
    color: white;

}

.authors{
    
    font-size: 1vw;
    font-family: Lato, sans-serif;
    font-weight: 100;
    color: white;

}


.video-container {
    z-index:1;
    min-width: 100%;
    min-height: 100%;

  }

#myVideo{
    min-width: 100%;
    min-height: 100%;
}

