// TODO(yu): it doesn't work, and I have to update theme/styles/config.styl directly

// showing default values

$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34

/**
 * ref: https://vuepress.vuejs.org/default-theme-config/#custom-page-class
 *
 * --
 * pageClass: custom-page-class
 * --
 **/
.theme-container.custom-page-class {
  /* page-specific rules */
}
